header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 60px;
  img {
    width: 155px;
    height: 40px;
  }
}

/* mobile version */

@media screen and (max-width: 390px) {
  header {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 326px;
  }
}
