.list {
  margin-top: 40px;

  .item {
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 8px;
    width: 660px;
    height: 33px;
    padding: 10px;
    border: 1px solid var(--color-border-primary);
    border-radius: 10px;
    background-color: var(--bg-color-secundary);

    img {
      position: relative;
      left: 520px;
    }

    input[type="checkbox"] {
      display: none;
    }

    label {
      position: relative;
      padding-left: 30px;
      cursor: pointer;
      font: var(--label);
      color: var(--color-content-secondary);
    }

    label::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      background: #ddd;
      border-radius: 50%; /* Torna arredondado */
      transition: 0.3s;
    }

    input[type="checkbox"]:checked + label::before {
      background: var(--color-brand);
      box-shadow: inset 0 0 0 4px white;
    }
  }

  .remove-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: var(--color-danger);
    border-radius: 10px;
    width: 660px;
    height: 33px;
    margin-top: 36px;
    gap: 8px;
    font: var(--label);
    color: var(--bg-color-secundary);

    .delete-small {
      position: relative;
      left: 355px;
    }
  }
}
